.btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 10px 0px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: var(--color-white);
  transition: all linear .2s;
  cursor: pointer;
  text-align: center;
  &--color {
    &-green {
      color: var(--color-green);
    }
    &-bg {
      color: var(--color-bg);
    }
  }
  &--border {
    &-radius {
      border-radius: 20px;
    }
  }
  &--bg {
    &-white {
      background-color: var(--color-white);
    }
    &-orange {
      background-color: var(--color-btn);
    }
    &-green {
      background-color: var(--color-green);
    }
  }
  &-icon {
    vertical-align: middle;
    margin-right: 7px;
    &--color {
      &-green {
        fill: var(--color-green);
      }
    }
  }
}
@media (max-width: 500px) {
  .btn {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 340px) {
  .btn {
    padding: 10px 8px;
  }
}
@import "hamburger";
